$card-padding: 10px;
$card-color-red: red;
.card {
  display: block;
  width: 120px;
  height: 175px;
  border: 0.5px solid black;
  background-color: #fff;
  border-radius: 5%;
  margin: 10px;
  font-size: 18pt;

  .card-suit {
    text-align: center;
    line-height: 115px;
    font-size: 45pt;
  }
  .card-rank {
    text-align: left;
    position: relative;
    line-height: 30px;
  }
  .card-rank:first-child {
    left: $card-padding;
    top: $card-padding;
  }
  .card-rank:last-child {
    transform: rotate(180deg);
    right: $card-padding;
    bottom: $card-padding;
  }
}
.card-red {
    color: $card-color-red;
}