body {
    background-color: rgb(11, 150, 11);
}
.game {
    height: 100%;
    padding: 10px;
    h1 {
        margin-bottom: 5px;
        color: rgb(228, 169, 20);
    }
}
.poker-table {
    width: 80%;
    height: 80%;
    margin: auto;
    margin-top: 20px;
    display: block;

    .hand {
        position: relative;
        bottom: 0;
    }
}
button {
    width: 200px;
    padding: 5px 15px;
    margin: 5px;
    cursor: pointer;
}
